.parent {
    color: blue;
    font-weight: 1000;
}

span {
    color: purple;
}

.cls {
    color: orange;
}

#first {
    color: magenta;
}

.parent span {
    color: red;
}

.parent span {
    color: black;
}